<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Menus</h1>
<p> Historique des commandes : </p>
<div class="row row-cols-1 row-cols-md-3 g-4">
{{#each commandes}}
  <ul>
    <li>numéro commande : {{id}}</li>
    <li>nom : {{name}}</li>
    <li>téléphone : {{phone}}</li>
    <li>menu : {{menu_id}}</li>
  </ul>
{{/each}}